@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    font-family: 'Play', sans-serif;
    background: #222222;
}
main{
    background: #222222;
}
        /*menú expandible_______________________________________________________________________________________________________________________*/
        .container-menu{
            box-sizing: border-box;
            background: #333;
            display: flex;
            justify-content: space-between;
         }
            .mainmenubtn {
                background-color: #333;
                color: white;
                font-family: 'Play', sans-serif;
                border: none;
                cursor: pointer;
                padding:20px;
                margin: top 0;
        }
            .mainmenubtn:hover {
                background-color: gray;
        }
            .dropdown {
                position: relative;
                display: inline-block;
                font-family: 'Play', sans-serif;
        }
            .dropdown-child {
                display: none;
                font-family: 'Play', sans-serif;
                background-color: #333;
                min-width: 200px;
        }
            .dropdown-child a {
                color: white;
                padding: 1.5rem 1rem;
                text-decoration: none;
                display: inline-block;
        }
            .dropdown-child a:hover{
                background: #ccc;
        }
            .dropdown:hover .dropdown-child {
                display: block;
        }
            /*Fin de menú expandible_______________________________________________________________________*/
            /*barra de búsqueda_________________________________________________________________________________________________*/
            .barra {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 50px;    
            }
            .barra:hover {
                width: 400px;
            }
    
    
            .barra input {
                position: relative;
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                font-size: 1.1em;
                padding: 0.5em 20px;
                background: #333;
                color: #555;
            }
    
            .barra input::placeholder,
            .barra input
            {
                
                color: transparent;
            }
    
            .barra input:hover::placeholder,
            .barra input:hover {
                background: white;
                color: #555;
            }
            ion-icon {
                position: absolute;
                right: 20px;
                font-size: 1.5em;
                cursor: pointer;
                color: #555;
            }
            /*fin de barra de búsqueda_________________________________________________________________________________*/
            footer{
                background: #333;
                text-align: center;
                color: white;
                box-sizing: border-box;
                height: 50px;
                margin-top: auto;
            }
            @media(max-width: 700px){
                .dropdown-child a {
                    display: flex;
                    flex-direction: column;
                }
            }